.frontlisting{
    .table-innr{

        &.smtable{
            tbody{
                tr{
                    td{
                        &:nth-child(1){
                            width: 4%;
                            text-align: left;
                        }
                        &:nth-child(2){
                            width: 75%;
                        }
                    }
                }
            }
        }
        thead{
            tr{
                th{
                    &:last-child{
                        text-align: center;
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    &:nth-child(1){
                        width: 90%;
                        text-align: left;
                    }
                    &:nth-child(2){
                        width: 10%;
                    }
                }
            }
        }
    }
}

.ck.ck-editor__main {
    height: 501px;
}
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    // border-color: var(--ck-color-base-border);
    border-color: #EAEBEF !important;
    height: 100%;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
    /* border: var(--ck-focus-ring); */
    box-shadow: none !important;
    outline: none;
    border: 1px solid #EAEBEF !important;
    height: 100%;
}
.ck.ck-toolbar {
    background: #F2F2F2 !important;
    border: 1px solid #EAEBEF !important;
    padding: 0 var(--ck-spacing-small);
}
label#ck-editor__label_efabfa111108655cc4a8c97f8e0cec544 {
    display: none;
}