$blackff: #FFFFFF;
$darkGray-fa: #FAFAFA;
$gray1: #F2F2F2;
$gray2: #E0E0E0;
$gray3: #CFCFCF;
$gray4: #BDBDBD;
$gray5: #A4A4A4;
$gray6: #828282;
$gray7: #666666;
$gray8: #4C4C4C;
$gray9: #333333;
$gray10: #181818;
$gray11: #6F7177;
$gray12: #E8E8E9;
$white-11: #111111;
$logo: #AA2928;
$colorF8: #F3F6F8;
$colorC7:  #C7C7C7;
$color4C: #4C4C4C;
$colorDD: #DDDDDD;



// Secondary color
$bluishBlack: #CCCCCE;
$bluishGray1: #9E9FA3;
$bluishGray2: #6F7177;
$bluishGray3: #41444C;
$bluishGray4: #131620;

// Constant color
$red0: #C32D2C;
$red1: #DB5857;
$red2: #E68180;
$blue0: #0000B2;
$blue1: #3333C1;
$blue2: #6666D1;
$blue3: #9999E0;
$color60: #27AE60;