.banner-tabs {
    .tab-content {
        margin-top: 16px;
    }
}

.coming-soon {
    .trending-tabs {
        .tab-outr {
            .tabs {
                .tab-content {
                    margin-top: 8px;
                }
            }
        }
    }
}

// .common-shows{
//     .common-content{
//         .common-tabs{
//             .lists{
//                 .outerside{
//                     .list-content{
//                         .list-img{
//                             margin-bottom: 6px !important;
//                             @media screen and (max-width:768px){
//                                 margin-bottom: 6px !important;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

.login-wrap {
    .box {
        .divider {
            padding-top: 40px !important;
            margin-top: 40px !important;
        }
    }
}

.media-from-details .media-tabber-area .thumb-grid-area {
    gap: 20px;

    @media screen and (max-width:767px) {
        gap: 24px;
    }
}

.mypage-rght h2 {
    margin-bottom: 0;
}

.tag-details {
    .tagdetail-content {
        .tags-list {
            li {
                a {
                    .img-wrap {
                        border-radius: 8px;
                        margin-right: 20px;
                        max-width: 135px;
                        min-width: 135px;
                        height: 202px;
                        position: relative;
                        overflow: hidden;

                        @media screen and (max-width:768px) {
                            width: 105px;
                            min-width: 105px;
                            height: 157.5px;
                            margin-right: 0;
                            margin-bottom: 16px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .main-dta {
                        span {
                            p {
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 18px;
                                width: 100%;
                                max-width: 120px;
                                text-align: right;

                                @media screen and (max-width:768px) {
                                    text-align: left;
                                }
                            }
                        }

                        .p-content {
                            &:empty {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

// .new-cast-modal .modal .modal-content .modal-body .image-grid .each-img{
//     margin-top: 16px;
// }
.theme-dark .people-details-btm-sec .people-details-btm-otr .people-details-btm-left .work-otr .tabs .tab-content .select-style option {
    color: #fff;
}

.theme-light .people-details-btm-sec .people-details-btm-otr .people-details-btm-left .work-otr .tabs .tab-content .select-style option {
    color: #111;
}

.theme-dark .people-details-btm-sec .people-details-btm-otr .people-details-btm-left .work-otr .tabs .tab-content .cast-dropdown select option {
    color: #111;
}

.tvepisodes-btm {
    @media screen and (max-width:768px) {
        padding: 48px 0 48px 0;
    }

    .tab-outr {
        &.small {
            .tabs-header {
                li {
                    white-space: nowrap;
                }
            }
        }
    }

    .tvepisodes-content {
        .tv-lists {
            .tv-content {
                .left-content {
                    p {
                        @media screen and (max-width:768px) {
                            height: auto;
                        }
                    }
                }

            }
        }
    }
}

.credit-cast-area .credit-list-area .single-credit-list .divrow.name-wrap {
    max-width: 200px;
}

.credit-crew-area .credit-list-area .single-credit-list .divrow.name-wrap {
    max-width: 200px;
}

.image-otr .image-innr a.hgt,
.image-otr .image-innr figure.hgt {
    margin-bottom: 6px;
}

.image-otr .image-innr a.hgt,
.image-otr .image-innr .cast-crew-info {
    padding: 8px;
}

// .movies-media .mypage-rght .image-otr.post-outer .image-innr{
//     max-width: none !important;
//     width: auto;
// }
header .header-main .right-side .menu-details .link a {
    @media screen and (max-width:990px) {
        padding: 16px 0px 16px 0;
    }
}

@media screen and (max-width:1024px) {
    .movies-sec .movies-main .moives-list .outerside .list-content {
        max-width: 185px;
    }
}

@media screen and (max-width:768px) {
    .movies-sec .movies-main .moives-list .outerside .list-content {
        max-width: 170px;
    }

    .credit-cast-area .credit-list-area .single-credit-list .divrow.name-wrap {
        max-width: 100px;
    }

    .credit-crew-area .credit-list-area .single-credit-list .divrow.name-wrap {
        max-width: 100px;
    }
}

@media screen and (max-width:640px) {
    // .movies-sec .movies-main .moives-list .outerside .list-content{
    //     max-width:inherit;
    //     width: 47%;
    // }
}

.theme-light .tvshow-episodes-banner .banner-content .left-content a {
    color: #a4a4a4;
}

.filters {
    .list-common {
        .dropdown {
            &.labTxt {
                width: 100% !important;
                max-width: 346px;

                @media(max-width:1200px) {
                    max-width: 100%;
                }
            }

            // .v-input{
            //     .v-input__control{
            //         max-width: 305px;
            //         margin-left: 15px;
            //         @media(max-width:1200px){
            //             max-width: 100%;
            //             margin-left: 0;
            //         }
            //         @media(max-width:767px){
            //             margin-left: 15px;
            //         }
            //         label{
            //             &.v-label{
            //                 display: none !important;
            //             }
            //         }
            //     }
            // }
        }
    }
}

.header {
    .v-input--horizontal {
        .v-input__control {
            border: 0;
            height: 35px;

            .v-field {
                .v-field__field {
                    .v-field__input {
                        min-height: 33px;
                        align-items: center;
                        padding: 4px 0px 0 0px !important;
                    }
                }
            }
        }
    }

}

.page-heading-area {
    .v-input--density-default {
        &.v-input {
            max-width: 214px;

            @media(max-width:767px) {
                max-width: 100%;
                margin-top: 24px;
            }
        }
    }
}

.body-light {
    .header {
        .v-input--horizontal {
            .v-input__control {
                .v-field__input {
                    .v-select__selection {
                        .v-select__selection-text {
                            color: #111111 !important;
                        }
                    }

                }
            }
        }


    }
}

.theme-light {
    .v-input--horizontal {
        .v-input__control {
            .v-field__input {
                .v-select__selection {
                    .v-select__selection-text {
                        color: #111111 !important;
                    }
                }

            }
        }
    }
}

.cast-dropdown {
    padding-left: 16px;

    @media(max-width:767px) {
        padding-left: 0;
    }
}

.v-input--horizontal {
    position: relative;
    width: 100%;

    .v-input__control {
        display: flex;
        align-items: center;
        grid-area: control;
        height: 44px;
        border: 1px solid #a4a4a4;
        border-radius: 4px;
        //max-width: 305px;
        margin-left: 15px;
        overflow: hidden;

        @media(max-width:1200px) {
            max-width: 100%;
            margin-left: 0;
        }

        @media(max-width:767px) {
            margin-left: 15px;
        }

        .v-field {
            padding: 0 !important;

            .v-field__field {
                flex-direction: column;

                .v-field-label {
                    margin: 0 !important;
                    width: 100% !important;
                    font-weight: 600 !important;
                    font-size: 15px !important;
                    line-height: 120% !important;
                    position: relative !important;
                    display: block !important;
                    margin-top: -4px !important;

                    &.v-field-label--floating {
                        font-weight: 400 !important;
                        font-size: 12px !important;
                        position: absolute !important;
                        top: 4px;
                        display: none !important;
                    }

                    &::before {
                        display: none;
                    }
                }

                .v-field__input {
                    // min-height: 26px;
                    min-height: 44px;
                    align-items: center;
                    padding: 0 0px 0 12px !important;
                    position: relative;

                    // top: -4px;
                    @media screen and (max-width:990px) {
                        padding: 0 0px 0 8px !important;
                    }

                    .v-select__selection {
                        .v-select__selection-text {
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 140%;
                            color: #FFFFFF;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                    }
                }
            }
        }
    }

    .v-input__details {
        display: none !important;
    }
}

.v-overlay-container .v-list-item__content .v-list-item-title:hover {
    color: #6666D1;
}

.v-overlay-container .v-list-item--density-default.v-list-item--one-line.v-list-item--active {
    color: #6666D1;
}

.v-overlay-container .v-list-item--variant-text .v-list-item__overlay {
    background: transparent;
    opacity: 0;
}

.v-field--variant-filled .v-field__outline::before,
.v-field--variant-underlined .v-field__outline::before {
    border: none;
    border-width: 0 !important;
}

.v-field--variant-filled .v-field__overlay {
    opacity: 0 !important;
}

.v-field--variant-filled .v-field__outline::after,
.v-field--variant-underlined .v-field__outline::after {
    border-width: 0 !important;
}

.v-input__details {
    color: #f00;
}

.v-field__append-inner {
    padding-top: 0 !important;
    align-items: center !important;
    padding-right: 12px !important;
    cursor: pointer;

    i.mdi-menu-down {
        background: url(@//assets/icons/chevron-down-white.svg);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
    }
}

.v-field__clearable {
    padding-top: 0 !important;
    align-items: center !important;
    padding-right: 0px !important;

    i.mdi-close-circle {
        background: url(@//assets/icons/close-wht.svg);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
    }
}


.v-autocomplete .v-field--dirty .v-autocomplete__selection {
    margin-top: -5px;
}

.v-autocomplete__selection-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.v-autocomplete--single.v-text-field input {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #A4A4A4;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 1px;
}

.v-field--active {
    .v-field__field {
        .v-field-label--floating {
            display: none !important;
        }
    }
}

.v-menu .v-overlay__content>.v-card,
.v-menu .v-overlay__content>.v-sheet,
.v-menu .v-overlay__content>.v-list {
    background-color: #111 !important;
    border: 1px solid #41444C;
}

.v-list-item--density-default.v-list-item--one-line {
    min-height: auto !important;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
}

.body-light .v-menu .v-overlay__content>.v-card,
.body-light .v-menu .v-overlay__content>.v-sheet,
.body-light .v-menu .v-overlay__content>.v-list {
    background-color: #ffffff !important;
    border: 1px solid #CCCCCE;
}

.theme-light .form-group .v-input--horizontal .v-input__control .v-field .v-field__field .v-field__input input {
    color: #111111;
}

.theme-light .form-group .v-input--horizontal .v-input__control .v-field .v-field__field .v-field-label {
    color: #111111;
}

.theme-light .form-group .v-input--horizontal .v-input__control .v-field .v-field__field .v-field__input .v-autocomplete__selection .v-autocomplete__selection-text {
    color: #111111;
}

.filter-section {
    .select-option {
        .v-input--horizontal {
            .v-input__control {
                margin-left: 0;
                height: 44px;
            }
        }
    }
}


.theme-light .v-field__clearable i.mdi-close-circle {
    background-image: url(@//assets/icons/close-blc.svg);
}

.theme-light .v-autocomplete--single.v-text-field input {
    color: #111111;
}

.theme-light .v-autocomplete__selection-text {
    color: #111111;
}

.theme-light .v-field__append-inner i.mdi-menu-down {
    background-image: url(@//assets/icons/chevron-down-black.svg);
}

.body-light .v-overlay-container .v-menu .v-overlay__content>.v-card,
.body-light .v-overlay-container .v-menu .v-overlay__content>.v-sheet,
.body-light .v-overlay-container .v-menu .v-overlay__content>.v-list,
.dark-modal-open .v-overlay-container .v-menu .v-overlay__content>.v-card,
.dark-modal-open .v-overlay-container .v-menu .v-overlay__content>.v-sheet,
.dark-modal-open .v-overlay-container .v-menu .v-overlay__content>.v-list {
    background-color: #ffffff !important;
    border: 1px solid #CCCCCE;
}

.body-light .v-overlay-container .v-list-item--density-default.v-list-item--one-line,
.dark-modal-open .v-overlay-container .v-list-item--density-default.v-list-item--one-line {
    color: #111111;
}

.body-light .v-overlay-container .v-list-item__content .v-list-item-title:hover,
.dark-modal-open .v-overlay-container .v-list-item__content .v-list-item-title:hover {
    color: #6666D1;
}

.body-light .v-overlay-container .v-list-item--density-default.v-list-item--one-line.v-list-item--active,
.dark-modal-open .v-overlay-container .v-list-item--density-default.v-list-item--one-line.v-list-item--active {
    color: #6666D1;
}




// page wise dropdown css
.tag-list {
    .dropdown {
        .v-input--horizontal {
            max-width: 319px;

            .v-input__control {
                .v-field {
                    height: 44px;

                    .v-field__field {
                        min-height: 42px;

                        .v-field-label {
                            min-height: 32px;
                        }

                        .v-field__input {
                            min-height: 32px;
                            top: -16px;

                            .v-autocomplete__selection {
                                top: -3px;
                                position: relative;
                            }
                        }
                    }

                }
            }

        }
    }
}

.filter-list {
    .dropdown {
        .v-input--horizontal {
            max-width: 319px;

            .v-input__control {
                .v-field {
                    height: 44px;

                    .v-field__field {
                        min-height: 42px;

                        .v-field-label {
                            min-height: 32px;
                        }

                        .v-field__input {
                            min-height: 32px;
                            top: -16px;

                            .v-autocomplete__selection {
                                top: -3px;
                                position: relative;
                            }
                        }
                    }

                }
            }

        }
    }
}


.filter-drop-left {
    .dropdown {
        .v-input--horizontal {
            max-width: 305px;
        }
    }
}

.form-group {
    .v-input--horizontal {

        //max-width: 319px;        
        .v-input__control {
            margin: 0 !important;

            .v-field {
                height: 44px;

                .v-field__field {
                    min-height: 42px;

                    .v-field-label {
                        min-height: 32px;
                        padding-left: 15px;
                    }

                    .v-field__input {
                        min-height: 32px;
                        top: -16px;

                        .v-autocomplete__selection {
                            top: -3px;
                            position: relative;
                        }
                    }
                }

            }
        }

    }
}

.modal-body {
    .cast-details {
        .right {
            .form-grp {
                .v-input--horizontal {

                    //max-width: 319px;        
                    .v-input__control {
                        margin: 0 !important;

                        .v-field {
                            height: 44px;

                            .v-field__field {
                                min-height: 42px;

                                .v-field-label {
                                    min-height: 32px;
                                    padding-left: 15px;
                                }

                                .v-field__input {
                                    min-height: 32px;
                                    top: -16px;

                                    .v-autocomplete__selection {
                                        top: -3px;
                                        position: relative;

                                        .v-autocomplete__selection-text {
                                            color: #111111;
                                        }
                                    }

                                    input {
                                        padding: 0 0 0 15px;
                                        border: none;
                                    }
                                }
                            }

                        }
                    }

                }
            }
        }
    }
}

.select-item {
    .form-group {
        .v-input--horizontal {
            .v-input__control {
                .v-field {
                    .v-field__field {
                        .v-field-label {
                            text-align: left;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}

.body-light {
    .select-item {
        .form-group {
            .v-input--horizontal {
                .v-input__control {
                    .v-field {
                        .v-field__field {
                            .v-field-label {
                                color: #A4A4A4;
                            }
                        }
                    }
                }
            }
        }
    }
}


.gap32res {
    .select-item {
        .form-group {
            .v-input--horizontal {
                .v-input__control {
                    .v-field {
                        .v-field__field {
                            .v-field__input {
                                .v-select__selection {
                                    position: relative;
                                    top: -6px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.search-episode {
    .search-form {
        .select-option {
            .v-input--horizontal {
                .v-input__control {
                    .v-field {
                        .v-field__field {
                            .v-field__input {
                                .v-select__selection {
                                    position: relative;
                                    top: -6px;
                                }

                                .v-autocomplete__selection {
                                    display: block;
                                    top: 2px;
                                    position: relative
                                }

                                input {
                                    padding: 13px 0 13px 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-heading-area {
    .v-input--horizontal {
        .v-input__control {
            .v-field {
                .v-field__field {
                    .v-field__input {
                        .v-select__selection {
                            position: relative;
                            top: -6px;
                        }

                        .v-autocomplete__selection {
                            display: block;
                            top: 2px;
                            position: relative
                        }

                        input {
                            padding: 13px 0 13px 15px;
                        }
                    }
                }
            }
        }
    }
}



.filter-section {
    .select-option {
        .v-input--horizontal {
            .v-input__control {
                @media (max-width: 767px) {
                    margin-left: 0px;
                    border: none;
                }

            }
        }
    }

}

.mb-tag-otr {
    .v-input--horizontal {
        .v-input__control {
            .v-field {
                .v-field__field {
                    .v-field__input {
                        input {
                            padding: 12px 5px 12px 15px;
                        }

                        .v-autocomplete__selection {
                            position: relative;
                            top: 4px;
                        }
                    }
                }
            }
        }
    }
}

.modal-body {
    .v-input--horizontal {
        .v-input__control {
            .v-field {
                .v-field__append-inner {
                    i.mdi-menu-down {
                        background-image: url(@//assets/icons/chevron-down-black.svg);
                    }
                }
            }
        }
    }
}

.cast-dropdown {
    .v-input--horizontal {
        .v-input__control {
            margin: 0;
            background-color: rgba(106, 110, 122, 0.3);
            border-color: transparent;

            .v-field__field {
                .v-field-label {
                    padding-left: 15px;
                    top: 25px;
                }

                .v-field__input {
                    position: relative;
                    top: -10px;
                    min-height: 46px;

                    .v-autocomplete__selection {
                        position: relative;
                        top: 6px;
                    }

                    input {
                        top: 6px;
                        padding: 10px 15px;
                    }
                }
            }
        }
    }

}

.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

// .v-list-item-title{
//     width: 240px;
// }

.v-autocomplete__mask {
    background: transparent !important;
}

.v-select__selection {
    margin-top: 5px;
}

.header {
    .v-select__selection {
        margin-top: 0;
    }
}

.search-form {
    .select-option {
        .v-input--horizontal {
            .v-input__control {
                margin-left: 0;
            }
        }
    }
}

.contact-sec {
    .form-group {
        .v-input--horizontal {
            .v-input__control .v-field {
                display: flex;
                align-items: center;
            }
        }
    }
}

.admin-right {
    .form-group {
        .v-input--horizontal {
            .v-input__control {
                .v-field {
                    display: flex;
                    align-items: center;

                    .v-field__input {
                        top: -16px;
                    }

                    .v-field-label {
                        min-height: 40px;
                    }
                }
            }

        }
    }

}

.details-images.media-imgs .image-otr .image-innr {
    max-width: 100%;
}

.poster-modal {
    .modal-img-area {
        max-width: 365px;
        margin: 0 auto;
    }
}

.dropdown-lang {
    .v-field__append-inner {
        padding-right: 0 !important;
    }

    .v-input--horizontal {
        .v-input__control {
            margin-left: 5px;
        }
    }
}

.filter-section .v-input--horizontal .v-input__control .v-field .v-field__field .v-field__input .v-select__selection .v-select__selection-text {
    min-width: 40px;
}

.v-input--horizontal .v-input__control .v-field .v-field__field .v-field__input {
    padding: 0 0 0 12px !important;
}

.page-heading-area {
    &.with-dropdown {
        &.edit-drop-outer {
            justify-content: space-between !important;

            .heading-dropdown {
                display: flex;
                align-items: center;
                width: 60%;

                @media(max-width:767px) {
                    width: 100%;
                    margin-bottom: 24px;
                    align-items: center;
                }

                h2 {
                    white-space: nowrap;
                }
            }

        }
    }

    .media-save-btn {
        .saveBtn {
            margin: 0 !important;
        }
    }
}

.season-heading {
    padding-bottom: 20px;

    h2 {
        margin: 0 !important;
    }
}

.header-mob-profile {
    display: none;

    @media(max-width:1100px) {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    figure {
        height: 30px;
        width: 30px;
        min-width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #cfcfcf;
        border-radius: 50%;
        overflow: hidden;
    }
}

.main-dta {
    &.people-date {
        p {
            white-space: nowrap;
        }
    }
}

.search-results .search-main .search-right ul li a .main-dta .p-content p {
    word-break: break-all;
    white-space: normal;
}

.primary-details-from .page-heading-area.episode-heading h2,
.primary-details-from .page-heading-area.season-heading h2 {
    margin-bottom: 0 !important;
}

.cursor-pointer {
    cursor: pointer;

}

.webtoon-checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    @media(max-width:767px) {
        gap: 12px 24px;

        li {
            label {
                margin-bottom: 0 !important;
            }
        }
    }

    .checkbox-input {
        font-size: 14px !important;

        .checkmark {
            top: 2px;
        }
    }
}


.theme-light .mypage-left .mypage-list li.active a {
    color: #111111;
}

.clip-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.theme-dark .comm-txt p {
    background: transparent !important;
}

.theme-dark .image-uploader .file-name {
    color: #666666 !important;
}

.theme-dark .comm-list li .comm-txt .comment-desc {
    background-color: rgba(34, 34, 34, 0.5);
}

.translate-ko .switch-txt.dark1 {
    padding-left: 26px;
}

.translate-ko .switch-txt.light1 {
    padding-right: 24px;
}

.theme-light .file-txt .file-edit-button img {
    filter: invert(1);
}

.episode-list .list-wrapper .episode-card .right-content.webtoon-content .card-img-wrap {
    height: 82px;
    width: 82px;
    min-width: 82px;

    @media(max-width:575px) {
        width: 100%;
        min-width: 100%;
        height: auto;
    }

    img {
        height: 100%;
        width: 100%;
    }
}

.episode-list .list-wrapper .episode-card .right-content.webtoon-content .episode-details {
    width: auto;
}

.cast-details {
    .form-grp {
        textarea.form-control {
            height: 202px;
            padding: 16px;
            border: 1px solid #A4A4A4;
            box-shadow: none;
            outline: none;
            width: 100%;
            color: #4c4c4c;
            border-radius: 4px;
        }
    }
}

.credit-cast-area {
    .credit-list-area {
        .single-credit-list {
            &.webtoon-credit {
                .inner-pt-area {
                    justify-content: flex-start;
                }

                .divrow {
                    &.credit-description {
                        max-width: 350px;

                        p {
                            width: 100%;
                            white-space: normal;

                        }
                    }
                }
            }
        }
    }
}

.list-img {
    position: relative;
}

.link-tag {
    background: #6666D1;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    img {
        height: auto !important;
        width: auto !important;
        object-fit: none !important;
    }
}

.episode-link-circle {
    position: relative;
}

.inline {
    display: inline-block;
}

.episode-modal-content {
    .divRows {
        h3 {
            color: #000;
        }
    }
}

.episode-list {
    .list-wrapper {
        div {
            .episode-card {
                margin-bottom: 16px;
            }
        }
    }
}

.webtoon-credit {
    .credit-description {
        p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }
}

.popular-tab-scroll {
    .tabs-otr {
        .tabs-header {
            overflow-x: auto;
            padding-bottom: 10px;

            li {
                white-space: nowrap;
            }
        }
    }
}


.popular-tab-scroll ul::-webkit-scrollbar {
    height: 5px;
    cursor: pointer;
}

.popular-tab-scroll ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

.popular-tab-scroll ul::-webkit-scrollbar-thumb {
    height: 5px;
    background-color: #cfcfcf;
    cursor: pointer;
}

//   .popular-tab-scroll ul::-webkit-scrollbar-thumb:hover {
//     background-color: #C32D2C;
//   }

.popular-tab-scroll ul::-webkit-scrollbar:vertical {
    display: none;
}

.tag-modal .modal-body .form-group .v-input--horizontal .v-input__control .v-field .v-field__field .v-field__input {
    top: -16px;
}

.theme-dark {
    .arows {
        .dark-mode-icon {
            display: block;
        }

        .light-mode-icon {
            display: none;
        }
    }
}

.theme-light {
    .arows {
        .light-mode-icon {
            display: block;
            opacity: 1;
        }

        .dark-mode-icon {
            display: none;
        }
    }
}

.no-website {
    text-decoration-line: none !important;
    cursor: default;
}

.theme-light .add-new-movie-form .new-container .media-from-details .media-tabber-area .tabs-header li {
    color: #6F7177 !important;
}


.filter-section {
    &.search-filter {
        .select-option {
            .v-input--horizontal {
                .v-input__control {
                    @media(max-width:767px) {
                        border: 1px solid #A4A4A4;
                    }
                }
            }
        }
    }
}

.theme-light {
    .plusicon {
        svg {
            rect {
                stroke: #CCCCCE !important;
            }
        }
    }
}

.media-tabber-area {
    .image-upload-show-area {
        .optionmenu {
            span {
                height: 28px;
                width: 28px;
                display: block;
            }
        }

    }
}

.episode-list {
    .list-wrapper {
        div {
            .episode-card {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.no-data-wrapper {
    width: 100%;
}

.header .header-main .right-side .menu-details .search .search-form a {
    height: auto;
    width: auto;
}

.login-wrap {
    .box {
        .image-uploader {
            p {
                font-size: 14px;
                font-weight: 400;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

.primary-details-from {
    .page-heading-area {
        &.season-heading {
            @media(max-width:767px) {
                flex-wrap: wrap;
                gap: 24px;

                h2 {
                    width: 100%;
                }

                .media-save-btn {
                    &.btn-grp {
                        width: 100%;

                        .saveBtn,
                        .delete-btn {
                            width: 50%;
                        }
                    }
                }
            }

            @media(max-width:575px) {
                .media-save-btn {
                    &.btn-grp {
                        flex-wrap: wrap;
                        gap: 24px;

                        .saveBtn,
                        .delete-btn {
                            width: 100% !important;
                        }
                    }
                }
            }

        }
    }
}

.image-upload-show-area {
    .image-upload-area {
        h3 {
            margin-bottom: 0;
        }
    }
}

.theme-light {
    .primary-details-from {
        .login-wrap {
            .divRows {
                .div1colmns {
                    .form-group {
                        .webtoon-checkbox {
                            li {
                                label {
                                    color: #A4A4A4;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.primary-details-from .page-heading-area.episode-heading h2 {
    @media(max-width:767px) {
        margin-bottom: 24px !important;
    }
}

.people-award-bottom-sec {
    &.other-award-details {
        .people-award-bottom-innr {
            .people-award-bottom-right {
                padding: 0;
                max-width: 100%;
                flex-basis: 100%;
            }
        }
    }
}

.form-grp {
    line-height: 100%;
}

.video-popular-row {
    margin: 0 -10px;

    .media-otr {
        &.vd-popular {
            gap: 0;

            .media-innr {
                width: 20%;
                padding: 0 10px;
                max-width: 100%;
                margin-bottom: 40px;

                @media(max-width:1199px) {
                    width: 25%;
                }

                @media(max-width:991px) {
                    width: 33.33%;
                }

                @media(max-width:767px) {
                    margin-bottom: 16px;
                    width: 50%;
                }

                @media(max-width:575px) {
                    width: 100%;
                }

                h5 {
                    padding: 0;
                }

                .media-pic {
                    figure {
                        .img {
                            @media(max-width:575px) {
                                height: 228px;
                            }
                        }
                    }

                }
            }
        }
    }
}

.search-video-outer {
    border-top: 1px solid #A4A4A4;

    .video-content {
        margin: 0 -10px;
        border: 0 !important;
    }
}

.modal {
    .v-autocomplete__selection-text {
        color: #111;
    }
}

.v-autocomplete .v-field .v-field__append-inner>.v-icon {
    opacity: 1;
}

.theme-dark .login-wrap .box .togglesdrop p {
    color: #fff;
}

.theme-light .login-wrap .box .togglesdrop p {
    color: #111;
}


.theme-light .a-lists .awards-lists {
    border-color: #CCCCCE;
}

.mb-30 {
    margin-bottom: 30px !important;

    @media(max-width:767px) {
        margin-bottom: 24px !important;
    }
}

.awards-people-detail-row {
    .people-award-bottom-innr {
        .people-award-bottom-left {
            height: 258px;
            overflow: hidden;

            @media(max-width:767px) {
                height: 161px;
            }

            figure {
                height: 100%;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.theme-light .awards-people-detail-row .people-award-bottom-right .people-award-bottom-list {
    background-color: rgba(34, 34, 34, 0.06);
}

.video-popular-sec {
    h2 {
        letter-spacing: -0.01em;
    }
}

.award-list-outr {
    .v-input--horizontal {
        .v-input__control {
            .v-field {
                .v-field__field {
                    .v-field__input {
                        .v-select__selection {
                            .v-select__selection-text {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 150%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.theme-dark {
    .right-side {
        .article-innr {
            .cc-para {
                border-color: #666;
            }

            h6 {
                color: #bdbdbd;
            }

            p {
                color: #bdbdbd;
            }
        }
    }
}

.mb-20.small-hdr {
    @media(max-width:767px) {
        margin-bottom: 24px !important;
    }
}

.theme-light {
    .right-side {
        .article-innr {
            p {
                color: #bdbdbd;
            }

            h6 {
                color: #bdbdbd;
            }
        }
    }
}

.theme-light {
    .prize-main {
        .prize-col {
            .left-side {
                .prize-list-detail {
                    li {
                        .movie-detail {
                            background-color: rgba(34, 34, 34, 0.06);
                        }
                    }
                }
            }
        }
    }
}

.theme-dark .v-autocomplete--single.v-text-field input {
    color: #fff;
}

.video-image-list {
    height: 208px;
}

.theme-dark .modal .v-autocomplete--single.v-text-field input {
    color: #111;
}

.media-otr.vd-popular .media-innr h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-results .search-main .search-right .video-content li a p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}