// award page css

.columnstwo{
    position: relative;
    display:flex;
    gap:20px;

    .datepics{
        width: 100%;
    }
}

.posterImg {
    position: relative;
    width: 32px;
    height: 32px;
    overflow: hidden;
    margin: 0 auto;
}

.browseBtn{
    position: relative;
    width: 100%;
    display: flex;
    gap: 4px;
    input.file-border{
        border: 1px solid #A4A4A4;
        width: 100%;
        height: 44px;
        text-overflow: clip;
        opacity: 1;
        border-radius: 4px;
        padding: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #333333;
    }
}

.customtxt{
    height: auto !important;
}


.basic-info-area{
    position: relative;
    width: 100%;
    margin-top: 30px;

    ul{
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;

        li{
            list-style-type: none;
            position: relative;
            width: 100%;
            display: flex;
            margin-bottom: 30px;

            span{
                position: relative;
                width: 100%;
                max-width: 400px;
                color: #333;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                text-transform: capitalize;
            }
            p{
                position: relative;
                width: 100%;
                color: #4C4C4C;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 24px */
            }
            .imgBx{
                width: 100px;
                height: 150px;
                overflow: hidden;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    
}

.twoBtn{
    display: flex;
    gap: 5px;
    .btn{
        margin: 0;
    }
}

.sector-content-area{
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.post-content-area{
    position: relative;
    width: 100%;
    margin-top: 30px;

    .frm-innr{
         display: flex;
         gap: 10px;
    }
}

.dubble-date-btn{
    position: relative;
    width: 100%;
    max-width: 484.67px;
    display: flex;
    gap: 15px;

    .form-group{
        width: 100% !important;
        margin: 0;
    }
}


.uploadview-pic {
    position: relative;
    width: 100px;
    height: 150px;
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        object-fit: cover;
        height: 150px;
    }

    span.clsBtn {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        img{
            height: 20px;
        }
    }
}


.awrd-sector{
    .form-group{
        .switch-innr{
            justify-content: flex-start;
            gap: 6px;
            margin-top: 20px;
            .switch{
                margin: 0;
            }
            span{
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                color: #333;
                position: relative;
                top: -2px;
            }
        }

        .check-innr{
            display: flex;
            align-items: center;
            margin-top: 10px;
            .check-inn{
                margin-top: 9px;
                cursor: pointer;
            }
            p{
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                color: $white-11;
                padding-left: 26px;
            }
        }

        .v-input--horizontal{
            .v-input__control{
                .v-field-label{
                    padding-top: 13px;
                }
            }
        }
    }
}

.post-content-area{
    .form-group{
      label{
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: $gray9;
        margin-bottom: 10px;
        display: block;
      }
      .v-input--horizontal{
        .v-select__selection {
            margin-top: -3px !important;
        }
      }
    }
    .material-sort{
      margin-top: 30px;
      .frm-innr{
        max-width: fit-content;
      }
    }
}

.plusbtn-bx {
    width: 100%;
    display: flex;

    &.inactive{
        opacity: 0.4;
    }
    .form-control{
        border-radius: 0 !important;
        text-align: center;
    }
    span.minusbtn {
        padding: 10px;
        border: 1px solid #A4A4A4;
        border-right: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        cursor: pointer;
    }
    span.plusbtn {
        padding: 10px;
        border: 1px solid #A4A4A4;
        border-left: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: pointer;
    }
}

.table-dropdown{
    width: 170px;
    .v-input__control{
        margin: 0;
    }
}

.modal-body{
    .form-group {
        .v-input--horizontal {
            .v-input__control {
                .v-field {
                    .v-field__field {
                        .v-field__input{
                            top: -23px;
                        }
                    }
                }
            }
        }
    }
}

.v-select__selection-text{
    font-weight: 500 !important;
}

.url-search-bx{
    position: relative;
    width: 100%;
    display: flex;  
    margin-bottom: 20px;  
    .form-group{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;

        label{
            font-weight: 600;
            font-size: 18px;
            display: block;
            color: $gray9;
            line-height: 22px;
        }
        .searchDv{
            width: 100%;
            position: relative;
            display: flex;
            gap: 10px;
            .form-control {
                border-width: 1px;
                border-style: solid;
                border-radius: 4px;
                padding: 12px;
                height: 44px;
                font-weight: 500;
                font-size: 14px;
                line-height: 140%;
                width: 100%;
                color: $gray9;
                border-color: $gray5;
            }
        }
    }
}


.redoutlineBtn{
    padding: 12px 30px;
    border-radius: 4px;
    border: 1px solid $red1;
    color: $red1;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    width: 100%;
    max-width: 114px;
}


.rounded-tab{
    position: relative;
    width: 100%;
    .tabs{
        .tabs-otr{
            .tabs-header{
                border: none;
                gap: 8px;
                li{
                    padding: 10px 30px;
                    border-radius: 100px;
                    border: 1px solid $bluishBlack;
                    color: $bluishBlack;
                    text-align: center;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;

                    &.active{
                        border-radius: 100px;
                        background: $white-11;
                        border: 1px solid $white-11;
                        color: $blackff !important;

                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }
        .tab-content{
            .round-tab-content{
                width: 100%;
                position: relative;
                .rounded-tab-head{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    h2{
                        display: block;
                        color: $white-11;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 130%; /* 31.2px */
                        margin: 0;
                    }
                }
                // h2{
                //     display: block;
                //     color: $white-11;
                //     font-size: 24px;
                //     font-style: normal;
                //     font-weight: 700;
                //     line-height: 130%; /* 31.2px */
                //     margin-bottom: 20px;
                // }
            }
        }
    }
}

.mxwidt{
    max-width: 491px;
    .switch-innr{
        justify-content: start;
        min-height: 44px;
        .switch{
            margin: 5px 0 0;
        }
    }
}

.custmdrops{
    position: relative;
    .form-group{
        margin: 0;
        .form-control{
            background-image: url(@//assets/icons/arrow-down2-blk.svg);
            background-repeat: no-repeat;
            background-position: 98%;
        }
    }
    .search-wrap-area{
        position: absolute;
        width: 100%;
        background: #fff;
        z-index: 9;
        ul{
            li{
                span{
                    font-size: 18px;
                    line-height: 160%;
                } 

                &:hover{
                    span{
                        color: #6f6fd3;
                    }
                }
            }
        }
    }
    .check-innr{
        .check-inn{
            .checkmark{
                &::after{
                    left: 7px;
                    top:6px;
                }
            }
        }
    }
}

.countrys{
    .custom-select-dropdown{
        .v-input__control{
            .v-field--appended{
                .v-field__field{
                    .v-field-label{
                        //  display: flex !important;
                         align-items: center;
                        //  border: 1px solid red;
                         padding-top: 13px;
                    }
                    .v-field__input{
                        .v-autocomplete__selection{
                            top: 8px;
                            // border: 1px solid red;
                        }
                    }
                }
            }
        }
    }
}

.col3center{
    thead{
        tr{
            th{               
                &:last-child{
                    text-align: center;
                }
            }
        }
    }
    tbody{
        tr{
            td{
                &:nth-child(3){
                    text-align: center;
                }
                &:nth-child(8){
                    text-align: center;
                }
                &.no-data{
                    text-align: center;
                }
            }
        }
    }
}

.colsixth{
    thead{
        tr{
            th{
                .data-hdr{
                    width: 250px !important;
                }
            }
        }
    }
    tbody{
        tr{
            td{
                &:nth-child(6){
                    width: 250px !important;
                    white-space: unset;
                }
                &:nth-child(5){
                    text-align: left !important;
                }
            }
        }
    }
}

.linelimts {
    width: 100%;
    min-width: 250px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
  }

  .new-cast-modal {
    &.allocate-modal{
        .modal{
            .modal-content{
                padding: 40px;
                .modal-header{
                    margin-bottom: 24px;
                    h1.text-center{
                        font-size: 20px;
                    }
                }
                .modal-body{
                    .form-group{
                        label{
                            margin-bottom: 10px;
                            color: #333;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: normal;
                            display: block;
                        }
                    }
                }
            }
        }
    }
     
  }

  .frm-innr{
    .form-group{
        &.countrys{
            .v-input{
                .v-input__control{
                    .v-field__input{
                        input{
                           height: 38px;
                           display: flex;
                           align-items: center;
                        }
                    }
                }
            }
        }
    }
  }

  tr.nodata-row {
    height: 350px;
}

.max-widt{
    width: 100%;
    max-width: 484px;
    @media screen and (min-width: 1400px) and (max-width: 1600px) {
        
    }
}


.last-col{
    .check-innr{
        .check-inn{
            .checkmark{
                left: 2px;
            }
        }
    }
}

.new-cast-modal .modal .modal-content .modal-header h1{
    font-size: 20px;
}