
.admin-header-view{
    //background: #f00 !important;
    .container{
        width: 100%;
        max-width: inherit;
        padding: 0 48px 0 30px;
    }
}

.admin-view-foter{
    .container{
        width: 100%;
        max-width: inherit;
        padding: 0 48px 0 60px;

        .footer-otr{
            .footer-left{
                a{
                    visibility: hidden;
                }
                .footer-menu{
                    ul{
                        li{
                            a{
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
}

.date-picker .dp__input{
    border-width: 1px;
    border-style: solid;    
    border-color: #a4a4aa !important;
}
.dp__input:hover{
    border-color: #a4a4aa;
}

.v-list-item-title{
    max-width: 240px;
}


.admin-right .v-field__field .v-field__input .v-select__selection .v-select__selection-text{
    color: #333 !important;
}

.radioBtn-admin{
    display: flex;
    position: relative;

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 130%;
        font-size: 16px;
        display: inline-block;
        color: #111111;
        font-weight: 500;
    }
    [type="radio"]:checked + label{
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 130%;
        font-size: 16px;
        display: inline-block;
        color: #111111;
        font-weight: 500;
    }
    [type="radio"]:checked + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 2px solid #111;
        border-radius: 100%;
    }
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 2px solid #A4A4A4;
        border-radius: 100%;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 8.33px;
        height: 8.33px;
        background: #111;
        position: absolute;
        top: 5.83px;
        left: 5.83px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

}

.txt-align-cntr{
    .table-otr{
        thead{
            tr{
                th{
                    &:nth-child(1){
                        text-align: center;
                    }
                    &:nth-child(3){
                        text-align: center;
                    }
                }
            }
        }
    }
}

.seven-col-table{
    .table-otr{
        tbody{
            tr{
                td{
                    &:nth-child(1){
                        width: 2%;
                    }
                    &:nth-child(2){
                        width: 80%;
                    }
                    &:nth-child(7){
                        width: 4%;
                    }
                    &:nth-child(6){
                        width: 4%;
                        text-align: center;
                    }
                    &:nth-child(5){
                        width: 4%;
                    }
                    &:nth-child(4){
                        width: 3%;
                    }
                    &:nth-child(3){
                        width: 3%;
                    }
                }
            }
        }
    }
}

.three-col-table{
    .table-otr{
        tbody{
            tr{
                td{
                    &:nth-child(1){
                        width: 2%;
                    }
                    &:nth-child(2){
                        width: 84%;
                    }                    
                    &:nth-child(3){
                        width: 14%;
                        text-align: left;
                    }
                }
            }
        }
    } 
}

.drag-iocn{
    display: inline-block;
    position: relative;
    top: 2px;
}