.modal__action {
  padding: 24px 0 0;
  .btn {
    border-radius: 4px;
  }
}

.modal__content {
  p {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    margin-bottom: 0;
    color: #4c4c4c;
  }
}

.video-pannel{
  width: 100%;
  height: 400px;
}

.modal-content {
  padding: 40px 20px;
  border-radius: 8px;
  max-width: 480px;
  min-width: 480px;
  @media screen and (max-width: 575px) {
    max-width: 100%;
    // margin: 0 16px;
    width: 90%;
    min-width: auto;
  }
  .modal__title {
    letter-spacing: -0.02em;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    margin-bottom: 24px;
    color: #131620;
  }
}
.vfm--overlay {
  background: rgba(3, 3, 3, 0.9) !important;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 998;
  background-color: #111111;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  max-width: 902px;
  height: fit-content;
  margin: auto;
  .modal-content {
    padding: 30px 16px;
    width: 100%;
    max-width: none;
    min-width: auto;
    // margin: 0 16px;
    background: white;
    border-radius: 8px;
    height: auto !important;
    overflow-y: auto;
    max-height: 630px;
    margin: 0px auto;
    @media(min-width:1800px){
      max-height: 734px;
    }
    @media screen and (max-width: 768px) {
      padding: 24px 16px;
      max-height: 515px;
    }
    .modal-header {
      padding: 0;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      @media screen and (max-width: 768px) {
        margin-bottom: 16px;
      }
      h1 {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #131620;
      }
    }
    .modal-body {
      .modal-tab-wrapper {
        .tabs {
          .tabs-otr {
            .tabs-header {
              display: flex;
              li {
                border-top: none;
                border-color: transparent;
                border-bottom: 1px solid #9E9FA3;
                border-left: 0;
                border-right: 0;
                flex: auto;
                text-align: center;
                font-weight: 600;
                font-size: 14px;
                line-height: 100%;
                color: #9e9fa3;
                padding: 8px;
                cursor: pointer;
                word-break: break-word;
                &.active {
                  color: #c32d2c;
                  border-color: #c32d2c;
                  border-width: 2px;
                  font-weight: 700;
                }
              }
            }
          }
          .tab-content {
            padding-top: 30px;
            overflow: auto;
            @media screen and (max-width: 768px) {
              padding-top: 24px;
            }
            .content-wrapper {
              max-height: 300px;
              min-height: 300px;
              overflow-y: auto;
              overflow-x: hidden;
              &.images-wrapper{
                padding-right: 16px;
                padding-left: 16px;
              }
              .company-details {
                padding: 16px;
                background: #f2f2f2;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin-right: 6px;
                .each-detail {
                  h1 {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 100%;
                    color: #333333;
                    margin-bottom: 4px;
                  }
                  p {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 150%;
                    color: #333333;
                  }
                  .icon-wrapper {
                    display: flex;
                    gap: 4px;
                    img {
                      cursor: pointer;
                    }
                  }
                }
              }
              .manager-list {
                margin-top: 30px;
                @media screen and (max-width: 768px) {
                  margin-top: 24px;
                }
                h1 {
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 150%;
                  color: #4c4c4c;
                  padding-bottom: 12px;
                  border-bottom: 1px solid #e0e0e0;
                }
                .list-wrapper {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                  padding: 16px 16px 0 16px;
                  .each-manager {
                    overflow: auto;
                    h1 {
                      font-weight: 700;
                      font-size: 14px;
                      line-height: 160%;
                      color: #333333;
                      padding: 0;
                      border: 0;
                      margin-bottom: 4px;
                    }
                    .details {
                      display: flex;
                      flex-direction: column;
                      gap: 4px;

                      .contact {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                      }
                      span {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        color: #a4a4a4;
                        white-space: nowrap;
                      }
                      .bullet {
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background-color: #a4a4a4;
                      }
                    }
                  }
                }
              }
              .image-grid {
                // display: grid;
                // grid-template-columns: repeat(6, 1fr);
                display: flex;
                flex-wrap: wrap;
                margin: 0 -5px;
                // gap: 20px 10px;
                // @media screen and (max-width: 768px) {
                //   grid-template-columns: repeat(4, 1fr);
                // }
                // @media screen and (max-width: 480px) {
                //   grid-template-columns: repeat(2, 1fr);
                // }
                .image-card {
                  width: 16.666%;
                  padding: 0 5px;
                  margin-bottom: 20px;
                  &:last-child{
                    margin-bottom: 0;
                  }
                  @media(max-width:991px){
                    width: 20%;
                  }
                  @media(max-width:767px){
                    width: 25%;
                  }
                  @media(max-width:575px){
                    width: 50%;
                  }
                  .company-img-card{
                    border-radius: 8px;
                    display: block;
                    height: 195px;
                    overflow: hidden;
                    img {
                      height: 100%;
                      width: 100%;
                      object-fit: cover;
                    }
                  }
                  
                  p {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 160%;
                    color: #333333;
                    margin-top: 6px;
                    padding: 0 8px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s linear;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.pop-enter-active,
.pop-leave-active {
  transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;
}
.pop-enter-from,
.pop-leave-to {
  opacity: 0;
  transform: scale(0.3) translateY(-50%);
}
.company-details-modal {
  .modal-footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 0 0;
    button {
      font-weight: 500;
      font-size: 12px;
      line-height: 140%;
      text-align: center;
      padding: 12px 21px;
      color: #41444c;
      border: 1px solid #ccccce;
      border-radius: 100px;
    }
  }
  .no-data-wrapper{
    border-bottom: 0;
  }
  .modal{
    .modal-content{
      .modal-body{
        .modal-tab-wrapper{
          .tabs{
            .tab-content{
              padding-top: 40px;
              @media(max-width:767px){
                padding-top: 34px;
              }
            }
          }
        }
      }  
    } 
  } 
}
.new-cast-modal {
  .modal {
    max-width: 480px;
    @media screen and (max-width: 540px) {
      // max-width: 90%;
      max-width: 343px;
    }
    .modal-content {
      padding: 40px 16px;
      @media screen and (max-width: 768px) {
        padding: 40px 16px;
        margin: 0px auto;
      }
      .modal-header {
        margin-bottom: 30px;
        @media screen and (max-width: 768px) {
          margin-bottom: 24px;
        }
        h1 {
          font-size: 18px;
          line-height: 120%;
          letter-spacing: -0.02em;
          &.text-center{
            text-align: center;
          }
        }
      }
      .modal-body {
        .cast-details {
          display: flex;
          gap: 16px;
          justify-content: center;
          @media(max-width:767px){
            flex-wrap: wrap;
            justify-content: flex-start;
          }
          p{
            font-family: SUIT;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: -0.02em;
            text-align: center;
          }
          .cast-left-profile{
            display: flex;
              align-items: center;
              justify-content: center;
              overflow: hidden;
              height: 130px;
              cursor: pointer;
              border-radius: 8px;
              min-width: 130px;
              max-width: 130px;
          }
          .img-picker {
            label {
              display: flex;
              align-items: center;
              justify-content: center;
              overflow: hidden;
              height: 130px;
              cursor: pointer;
              border-radius: 8px;
              min-width: 130px;
              max-width: 130px;
            }
            input {
              display: none;
            }
          }
          .cast-img {
            min-width: 100%;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          .right {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;
            .form-grp {
              label {
                font-weight: 700;
                font-size: 16px;
                line-height: 125%;
                color: #131620;
                display: block;
                margin-bottom: 12px;
                span {
                  color: #c32d2c;
                }
              }
              .video-error-heading{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 12px;
                label{
                  margin-bottom: 0;
                }
                .error{
                  color: #C32D2C;
                  font-size: 14px;
                  display: inline-block;
                }
              }
              select {
                border: 1px solid #a4a4a4;
                border-radius: 4px;
                padding: 12px;
                font-weight: 500;
                font-size: 14px;
                line-height: 140%;
                color: #4c4c4c;
                background-color: transparent;
                width: 100%;
                background: url(@/assets/icons/chevron-down.svg) no-repeat
                  center right 12px;
              }
              input[type="text"] {
                border: 1px solid #a4a4a4;
                border-radius: 4px;
                font-weight: 500;
                font-size: 14px;
                line-height: 140%;
                color: #131620;
                padding: 12px;
                width: 100%;
                &::placeholder {
                  color: #666666;
                }
              }
              .instruction {
                font-weight: 400;
                font-size: 11px;
                line-height: 100%;
                color: #4c4c4c;
                padding-left: 12px;
                margin-top: 4px;
                text-align: left;
              }
              .add-check {
                margin-top: 8px;
                padding-left: 12px;
                label {
                  display: flex;
                  align-items: center;
                  gap: 7px;
                  margin-bottom: 0;
                  cursor: pointer;
                  input {
                    display: none;
                    &:checked {
                      + .checkbox {
                        .checked-icon {
                          display: block;
                        }
                        .unchecked-icon {
                          display: none;
                        }
                      }
                    }
                  }
                  .checkbox {
                    .checked-icon {
                      display: none;
                    }
                    .checked-icon,
                    .unchecked-icon {
                      width: 14px;
                      height: 14px;
                    }
                  }
                  .check-text {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #4c4c4c;
                  }
                }
              }
              .radio-grp {
                display: flex;
                align-items: center;
                gap: 40px;
                label {
                  margin-bottom: 0;
                  .check-circle {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    input {
                      display: none;
                      &:not(:checked) {
                        + .radio-circle {
                          .inner-circle {
                            outline-color: #a4a4a4;
                            background-color: transparent;
                          }
                          + span {
                            color: #a4a4a4;
                          }
                        }
                      }
                    }
                    .radio-circle {
                      width: 24px;
                      height: 24px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      cursor: pointer;
                      .inner-circle {
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        outline: 2px solid #4c4c4c;
                        background-color: #4c4c4c;
                        outline-offset: 2px;
                        transition: 0.3s;
                      }
                    }
                  }
                  span {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 140%;
                    color: #4c4c4c;
                  }
                }
              }
            }
          }
          .episode-modal-content{
            .img-upload-show{
              .upload-options{
                .camera-upload{
                  height: 32px;
                  width: 32px;
                  min-width: 32px;
                  background-color: #111111;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  position: relative;
                  text-align: center;
                  cursor: pointer;
                  .image-upload{
                    height: 100%;
                    width: 100%;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    position: absolute;
                  }
                }
              }
            }
            .divRows{
              margin-top: 24px;
              margin-bottom: 0;
              @media(max-width:767px){
                margin-top: 16px;
              }
              &:first-child{
                margin-top: 16px;
              }
              .date-picker{
                margin-bottom: 0;
              }

            }
            textarea{
              &.form-control{
                padding-top: 16px;
              }
            }
          }
        }
        .image-picker {
          input {
            display: none;
          }
          .upload-img-btn {
            border: 1px dashed #333333;
            border-radius: 4px;
            width: 100%;
            padding: 12px;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            color: #333333;
            cursor: pointer;
          }
        }
        .image-grid {
          display: flex;
          flex-wrap: wrap;
          grid-template-columns: repeat(6, 1fr);
          gap: 12px;
          padding-top: 4px;
          @media screen and (max-width: 767px) {
           gap: 0;
           margin: 0 -6px;
          }
          
          .each-img {
            position: relative;
            width: 110px;
            height: 110px;
            margin-top: 12px;
            @media screen and (max-width: 767px) {
             width: 25%;
             padding: 0 6px;
             height: 149px;
            }
            @media screen and (max-width: 575px) {
              width: 33.33%;
             }
             @media screen and (max-width: 480px) {
              width: 50%;
             }
            .picked-img {
              border-radius: 8px;
              width: 100%;
              height: 100%;
              object-fit: cover;
              aspect-ratio: 1/1;
            }
            .cross-icon {
              position: absolute;
              top: 4px;
              right: 4px;
              cursor: pointer;
              background-color: #000;
              border-radius: 50%;
              @media(max-width:767px){
                right: 10px;
              }
            }
          }
        }
      }
      .modal-footer {
        .button-group {
          margin-top: 30px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 4px;
          justify-content: center;
          @media(max-width:767px){
            margin-top: 24px;
          }
          button {
            height: 44px;
            border: 1px solid transparent;
            border-radius: 4px;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            &.black-outline-btn {
              border-color: #333333;
              color: #333333;
            }
            &.red-fill-btn {
              color: #fff;
              background: #db5857;
            }
          }
        }
      }
    }
  }
  &.add-img-modal {
    .modal {
      max-width: 750px;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      overflow-y: hidden;
    }
    .modal-content{
      padding: 40px 16px 40px;
      @media screen and (max-width: 768px) {
        margin: 0px auto;
        margin-left: 16px;
        margin-right: 16px;

      }
      .modal-header {
        margin-bottom: 30px;
        h1 {
          font-size: 20px;
          line-height: 120%;
          letter-spacing: 0;
        }
      }
    }
    &.episode-modal{
      .modal-content{
        padding: 40px 16px;
        .modal-header{
          margin-bottom: 30px;
          h1{
            font-size: 20px;
            line-height: 120%;
            letter-spacing: -0.02em;
          }
        }
      }
    }
    &.new-media-modal{
      .modal{
        .modal-content{
          padding: 17px 16px 16px;
          @media(max-width:767px){
            padding: 8px 8px 9px;
          }
          .modal-header {
            margin-bottom: 10px;
             h1 {
              font-size: 18px;
              line-height: 22px;
              letter-spacing: 0;
              @media screen and (max-width: 768px) {
                font-size: 14px;
                line-height: 17px;
              }
            }
          }
        }
      }
    }
  }
}



.new-cast-modal{
  &.center-popup-modal{
    .modal{
      .modal-content{
        max-width: 100%;
        width: 100%;
          .modal-header{
            justify-content: center;
            //margin-bottom: 24px;
            margin-bottom: 0;
          }
          .movies-details-sec{
            .startxt{
              justify-content: center;
              margin-bottom: 0;
              .md-star{
                justify-content: center;
                img{
                  height: 36px;
                  width: 36px;
                }
              }
            }
          }
          .cast-details{
            margin-top: 24px;
            p{
              font-weight: 500;
              font-size: 14px;
              line-height: 150%;
              text-align: center;
              letter-spacing: -0.02em;
              color: #4c4c4c;
            }
          }
        
        .modal-footer{
          .button-group{
            display: flex;
            justify-content: center;
            gap: 4px;
            margin-top: 24px;
            button{
              width: 114px;
              max-width: 114px;
              margin: 0;
            }
          }
        }
      }
    }
    &.smallbx-modal{
      .modal{
        .modal-content{
          .modal-header{
            margin-bottom: 24px;
          }
        }
      }
    }
  }
   
}

// .video-panel-outer{
//   .media-otr{
//     .media-innr{
//       width: 100%;
//     }
//   }
// }

.add-new-movie-form{
  .new-cast-modal {
    &.add-img-modal{
      .modal{
        max-width: 750px;
      }
    }
  }
}

.company-details-modal{
  .modal{
    .modal-content{
      @media screen and (max-width: 768px) {
        width: 90%;
      }
    }
  }
}

.theme-dark .search-episode select.select-style option {
  color: #fff;
}
.edit-modal{
  .modal-content{
    position: relative;
    .cross-btn{
      position: absolute;
      right: 15px;
      top: 15px;
    }
    .cast-details{
      position: relative;
      @media(max-width:767px){
        justify-content: center !important;
      }
    }
  }
}

.new-cast-modal{
  &.award-modal {
    .modal{
      max-width: 902px;
      padding: 0 16px;
      .modal-content{
        padding: 30px 16px;
        .awards-outer{
          .awards-row{
            margin-bottom: 30px;
            &:last-child{
              margin-bottom: 0;
            }
            .awd-mdl-hdng{
              padding-bottom: 12px;
              border-bottom: 1px solid #ccccce;
              margin-bottom: 10px;
              h4{
                color: #41444C;
                font-size: 16px;
                font-weight: 700;
                line-height: normal;
                margin: 0;
              }
            }
            .work-awrd-info-row{
                padding: 12px;
                display: flex;
                gap: 20px;
                .work-awrd-pic{
                  a{
                    display: block;
                    width: 80px;
                    height: 120px;
                    border-radius: 4px;
                    img{
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                }
                .work-awrd-text{
                  padding-top: 8px;
                  .winner-tag{
                    background-color: #333;
                    margin-bottom: 10px;
                  }
                  a{
                    display: block;
                    color: #181818;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 160%; 
                    margin-bottom: 4px;
                  }
                  h5{
                    color: #A4A4A4;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 150%;
                  }
                }
            }
            .award-list-innr{
              background-color: rgba(106, 110, 122, 0.10);
              border-radius: 8px;
              padding: 16px;
              .awrd-list-row{
                margin-bottom: 20px;
                &:last-child{
                  margin-bottom: 0;
                }
                h4{
                  color: #BDBDBD;
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 100%;
                  margin-bottom: 8px;
                }
                .winner-row{
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  @media(max-width:575px){
                    justify-content: space-between;
                  }
                  h3{
                    color: #333;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.winner-tag{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  background-color: #fff;
  border-radius: 100px;
  height: 24px;
  gap: 4px;
  color: #DB5857;
  line-height: 100%;
  font-weight: 600;
  font-size: 12px;
  min-width: 90px;
  width: 90px;
  span{
    line-height: 100%;
  }
  img{
    width: 10px;
  }
  
}